@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255,255,255;  /* White text */
  --background-start-rgb:  0,128,128; /* Dark green background start */
  --background-end-rgb: 255,192,203,
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}


@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 0,0,0; /* Black text */
    --background-start-rgb: #6a11cb; /* White background start */
    --background-end-rgb: #ffcad4; /* Gray as a dark end */
  }
}

body {
  background: radial-gradient(circle at top left, var(--background-start), var(--background-end));
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

}

